<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game Solver</title>
  <script src="word.js" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style media="screen">

  </style>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <p>Dimensions: <input type="number" ng-model="rows"> x <input type="number" ng-model="cols"></p>
    <p>Words: <input type="number" ng-model="nwords"></p>
    <p>Word {{$index + 1}} Alphabets: <input type="number" id="w_{{$parent.$index}}"></p>
    <p ng-repeat="i in getArray('row')"><input type="text" class="words" ng-repeat="i in getArray('col')" id="inp_{{$parent.$index}}{{$index}}"></p>
  </div>
  <script type="text/javascript">
    var i, tmp, num;
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
      $scope.rows = 4;
      $scope.cols = 4;
      $scope.nwords = 3;
      $scope.getArray = function(type) {
        tmp = [];
        if (type == "row") {
          num = $scope.rows;
        } else if (type == "col") {
          num = $scope.cols;
        } else {
          num = $scope.nwords;
        }
        for (i = 0; i < num; i++) {
          tmp.push(i)
        }
        return tmp;
      }
    });
  </script>
</body>
</html>
