<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game Solver</title>
  <script src="word.js" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style media="screen">
    .error {
      color: #ff4444;
      display: inline;
    }

    input.ng-invalid.ng-touched {
      background-color: #ff4444;
    }

  </style>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <form name="form" class="css-form" ng-submit="form.$valid && initInfo()" novalidate>
      <p>Dimensions: <input name="row" type="number" ng-model="rows" required> x <input name="col" type="number" ng-model="cols" required></p>
      <div class="error" ng-show="form.$submitted || form.row.$touched || form.col.$touched">
        <div ng-show="form.row.$error.required || form.col.$error.required">Dimensions is required.</div>
      </div>
      <p>How Many Words?: <input name="nword" type="number" ng-model="nwords" required></p>
      <div class="error" ng-show="form.$submitted || form.nword.$touched">
        <div ng-show="form.nword.$error.required">Word number is required.</div>
      </div>
      <p ng-repeat="i in getArray('word')">Word {{$index + 1}} Alphabets: <input id="w_{{$index}}" name="alphabet" type="number" ng-model="alphabet" required></p>
      <div class="error" ng-show="form.$submitted || form.alphabet.$touched">
        <div ng-show="form.alphabet.$error.required">Alphabet number is required.</div>
      </div>
      <p ng-repeat="i in getArray('row')"><input type="text" class="words" ng-repeat="i in getArray('col')" id="inp_{{$parent.$index}}{{$index}}"></p>
      <div class="error" ng-show="form.$submitted">
        <div ng-show="{{!$empty_table}}">Table could not be empty.</div>
      </div>
      <button type="submit">Solve</button>
    </form>
  </div>
  <div>
    <div id="result">

    </div>
  </div>
  <script type="text/javascript">
    var i, j, tmp, num;
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
      $scope.rows = 4;
      $scope.cols = 4;
      $scope.nwords = 3;
      $scope.empty_table = true;
      $scope.getArray = function(type) {
        tmp = [];
        if (type == "row") {
          num = $scope.rows;
        } else if (type == "col") {
          num = $scope.cols;
        } else {
          num = $scope.nwords;
        }
        for (i = 0; i < num; i++) {
          tmp.push(i)
        }
        return tmp;
      }
      $scope.initInfo = function() {
        var inp, table = [], num_words = [], empty_table = true;
        for (i = 0; i < $scope.rows; i++) {
          tmp = [];
          for (j = 0; j < $scope.cols; j++) {
            inp = document.getElementById("inp_"+i.toString()+j.toString());
            if (inp.value) empty_table = false;
            tmp.push(inp.value);
          }
          table.push(tmp);
        }

        for (i = 0; i < $scope.nwords; i++) {
          inp = document.getElementById("w_"+i.toString());
          num_words.push(inp.value);
        }

        $scope.empty_table = empty_table;
        if (empty_table) return;
        solve(table, num_words);
      }
    });
  </script>
</body>
</html>
