<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game Solver</title>
  <script src="word.js" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style media="screen">

  </style>
</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    <p>Dimensions: <input type="text" ng-model="rows"> x <input type="text" ng-model="cols"></p>
    <p><input type="text" class="words" ng-repeat="i in getNumber({{cols}})" id="inp{{$index}}"></p>
  </div>
  <script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
      $scope.rows = 4;
      $scope.cols = 4;
      $scope.getNumber = function(number) {
        return new Array(number);
      }
    });
  </script>
</body>
</html>
